@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body  {
 font-family: "Work Sans", sans-serif;
 font-size: 16px;
    background-color: hsl(275, 100%, 97%);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.2rem;
    background-color: #fff;
    width: 50%;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.title {
   display: flex;
    align-items: center;
    gap: 1rem;
}

.title h2{
    font-size: 3rem;
    font-weight: 700;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordion-head {
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-head:hover {
    color: hsl(292, 16%, 49%);
}

.accordion-body {
    color: hsl(237, 12%, 33%);
    line-height: 1.2rem;
    display: none;
}

.text-container.active .accordion-body {
  display: block;
}
